bcrypt==5.0.0
cffi==2.1.0
cryptography==49.0.0
iniconfig==2.3.0
invoke==3.0.3
packaging==26.2
paramiko==5.0.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
PyNaCl==1.6.2
pytest==9.1.1
python-rsync==0.1.1
